@import url('https://fonts.google.com/specimen/Space+Mono');
 
:root {
    --font-size: 24px;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --font: 'Space Mono', monospace;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--light-grayish-cyan);
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-weight: 700;
    font-size: 18px;
}

.card {
    background-color: var(--white);
    margin: auto;
    display: flex;
    gap: 30px;
    height: 80%;
    width: 80%;
    flex-direction: column;
    align-content: space-around;
    padding: 30px; /* ??? */
    box-sizing: border-box;
    border-radius: 30px;
}

.card .details {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    align-items: center;
}

.card .result {
    background-color: var(--very-dark-cyan);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.card .details .section input[type = "number"] {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font);
    color: var(--very-dark-cyan);
    text-align: right;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--very-light-grayish-cyan);
}

.card .details .section input[type = "number"]::placeholder {
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font);
    color: var(--light-grayish-cyan);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card .details .section label {
    color: var(--dark-grayish-cyan);
} 

.card .amount .text p {
    color: var(--white);
}

.card .details .section .selectPercentTip {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    gap: 15px;
}

.card .details .section {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.card .details .section .selectPercentTip span {
    height: 40px;
    width: 105px;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    display: inline-flex;
    border-radius: 5px;
    justify-content: center; /* x axis */
    align-items: center;  /* y axis */
    cursor: pointer;
}

.card .details .section .selectPercentTip span:hover {
    color: var(--very-dark-cyan);
    background-color: var(--light-grayish-cyan);
}

.card .details .section .selectPercentTip span.active {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
}

.card .details .section input::placeholder {
    font-size: 21px;
}

.card .result .amount {
    display: grid; 
    grid-template-columns: auto auto;
    width: 100%;
}

.card .result .amount .person {
    font-size: 15px;
    color: var(--dark-grayish-cyan);
}

.card .result .amount .priceInfo {
    font-size: 45px;
    font-weight: 700;
    color: var(--strong-cyan);
    align-self: center;
    justify-self: end;
}

.card .result .buttonWrapper {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.card .result .buttonWrapper button {
    width: 100%;
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    height: 37px;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.card .result .buttonWrapper button:hover {
    color: var(--very-dark-cyan);
    background-color: var(--strong-cyan);
    border-color: var(--strong-cyan);
}

.card .details .section #bill {
    background: url("./images/icon-dollar.svg") no-repeat left var(--very-light-grayish-cyan);
    background-position-x: 15px;
}

.card .details .section #nrOfPeople {
    background: url("./images/icon-person.svg") no-repeat left var(--very-light-grayish-cyan);
    background-position-x: 15px;
}

@media (min-width: 768px)  {
    .card {
        height: 450px;
        width: 850px;
        flex-direction: row;
    }
}